<!-- Default switch -->
<div style="padding-bottom: 20px;text-align: center;">
  <div class="custom-control custom-switch">
    <input type="checkbox" (click)="changeDisplay()" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">Intraday</label>

  </div>
</div>

<div style="padding-bottom: 30px;"> <button type="button" class="btn btn-warning" (click)="resetPosition()">Reset
    Positions</button>
</div>
<div id="parent_box" class="container-fluid border border-primary">
  <div *ngIf="!isIntraday && !isSite">

    <app-pagetitle title="Pilotage {{currentElem}}" [breadcrumbItems]="breadCrumbItems" class="pagetitle"></app-pagetitle>
    <div class="row">
      <div class="col-md-3" id="gaugeChartPEC" (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".container-fluid"
        cdkDrag>
        <div echarts [options]="gaugeChartPEC" class="demo-chart"></div>

      </div>
      <div class="col-md-3" id="gaugeChartTR90" (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".container-fluid"
        cdkDrag>
        <div echarts [options]="gaugeChartTR90" class="demo-chart"></div>
      </div>


      <div class="col-md-3" id="gaugeChartTR902" (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".container-fluid"
        cdkDrag>
        <div echarts [options]="gaugeChartTR90" class="demo-chart"></div>
      </div>
      <div class="col-md-3" id="gaugeChartPEC2" (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".container-fluid"
        cdkDrag>
        <div echarts [options]="gaugeChartTR90" class="demo-chart"></div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-4" id="barChartAppelEnCours" (cdkDragEnded)="dragEnd($event)"
      cdkDragBoundary=".container-fluid" cdkDrag>

      <div echarts [options]="barChartAppelEnCours" class="demo-chart"></div>

    </div>
    <div class="col-md-4" id="barChartAppelVolume" (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".container-fluid"
      cdkDrag>

      <div echarts [options]="barChartAppelVolume" class="demo-chart"></div>

    </div>
    <div class="col-md-4" id="barChartAppelDistrib" (cdkDragEnded)="dragEnd($event)"
      cdkDragBoundary=".container-fluid" cdkDrag>

      <div echarts [options]="barChartAppelDistrib" class="demo-chart"></div>
    </div>

    </div>
    <div class="row" id="tableFlux" (cdkDragEnded)="dragEnd($event)" cdkDragBoundary=".container-fluid" cdkDrag>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Data</h2>
            <p class="card-sub-title">

            </p>
            <div class="row mb-md-2">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="tickets-table_length"><label
                    class="d-inline-flex align-items-center">Show
                    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                      [(ngModel)]="service.pageSize"
                      class="custom-select custom-select-sm form-control form-control-sm mx-2">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select> entries</label></div>
              </div>
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                      aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
              </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            <div class="table-responsive" mwlResizable [enableGhostResize]="true"
              [resizeEdges]="{ bottom: true, right: true, top: true, left: true }" (resizeEnd)="onResizeEnd($event)">
              <table id="basic-datatable"
                class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                <thead>
                  <tr>
                    <th></th>
                    <th sortable="name" (sort)="onSort($event)">Flux</th>
                    <th sortable="position" (sort)="onSort($event)">Nb appel offert</th>
                    <th sortable="office" (sort)="onSort($event)">Taux Pec</th>
                    <th sortable="age" (sort)="onSort($event)">DMR</th>
                    <th sortable="date" (sort)="onSort($event)">Déconnectés VMS</th>
                    <th sortable="salary" (sort)="onSort($event)">Niveau de TR300</th>

                  </tr>
                </thead>
                <tbody *ngFor="let table of tables$ | async;let i=index">
                  <tr>
                    <td align="center">
                      <a class="expand-row" (click)="changeValue(i)">
                        +
                      </a>
                    </td>
                    <td><a [routerLink]="['/Flux/', table.name]">
                        <ngb-highlight [result]="table.name" [term]="service.searchTerm"></ngb-highlight>
                      </a>
                    </td>
                    <td>
                      <ngb-highlight [result]="table.position" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="table.office" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="table.age" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="table.date" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="table.salary" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                  </tr>
                  <tr *ngIf="hideme[i]" class="sub-table no-bg">
                    <td align="center"> </td>
                    <td colspan="15" class="p-0">
                      <table class="table mb-0 table-striped">
                        <thead>
                          <tr>
                            <th>End date</th>
                            <th>Unit</th>
                            <th>Sales Account</th>
                            <th>Buy Account</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{table.enddate}}</td>
                            <td>{{table.unit}}</td>
                            <td>{{table.name}}</td>
                            <td>{{table.name}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{service.startIndex}} to
                  {{service.endIndex}} of {{service.totalRecords}}
                  entries
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                  <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page"
                    [pageSize]="service.pageSize">
                  </ngb-pagination>
                </div>
              </div>

              <!-- End Pagination -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isIntraday">
    <app-pagetitle title="Vue Intraday {{currentElem}}" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">


            <div class="table-responsive">
              <table class="table mb-0">

                <thead>
                  <tr>
                    <th>Horaires</th>
                    <th>Reçus</th>
                    <th>Offerts</th>
                    <th>Répondus</th>
                    <th>Abandonnés</th>
                    <th>DMT</th>
                    <th>DMA</th>
                    <th>Taux Pec</th>
                    <th>Niveau de service TR90</th>
                    <th>Taux d'abandon</th>
                    <th>Taux d'appels offert sur transfert</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">7:00</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                    <td>-</td>
                    <td>100 %</td>
                    <td>100 %</td>
                    <td>0 %</td>
                    <td>0 %</td>
                  </tr>
                  <tr>
                    <th scope="row">7:30</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">8:00</th>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">8:30</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-</td>
                    <td>-</td>
                    <td>100 %</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>


    </div>
    <!-- end row -->
  </div>



</div>